In [1]:
import pandas as pd
import numpy as np

##  <font color="grey"><center>Pima Indians Diabetes Database</center></font>

### Attribute Information:

<pre>
   1. Number of times pregnant
   2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
   3. Diastolic blood pressure (mm Hg)
   4. Triceps skin fold thickness (mm)
   5. 2-Hour serum insulin (mu U/ml)
   6. Body mass index (weight in kg/(height in m)^2)
   7. Diabetes pedigree function
   8. Age (years)
   9. Class variable (0 or 1)
</pre>

### Class Variable interpretation:

* class value 1 is interpreted as "tested positive for diabetes"

### Objective:

* To perform basic analysis on the dataset and to classify based on the provided class label

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv", header=None)
data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [6]:
# Adding column names to the above dataframe

data.columns = ["num_pregnant", "plasma_conc", "blood_pressure", "skin_thickness", "serum_insulin", \
                "bmi", "diabaties_funcion", "age", "has_diabetes"]

data.head()

,num_pregnant,plasma_conc,blood_pressure,skin_thickness,serum_insulin,bmi,diabaties_funcion,age,has_diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
# to get a basic descreptive stat summary of the data
data.describe()

,num_pregnant,plasma_conc,blood_pressure,skin_thickness,serum_insulin,bmi,diabaties_funcion,age,has_diabetes
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [8]:
# checking for null values
data.isnull().sum()

num_pregnant         0
plasma_conc          0
blood_pressure       0
skin_thickness       0
serum_insulin        0
bmi                  0
diabaties_funcion    0
age                  0
has_diabetes         0
dtype: int64